@font-face {
    font-family: 'titulo'; 
    src: url('../fuentes/Orbitron-VariableFont_wght.woff2') format("woff2"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'parrafo'; 
    src: url('../fuentes/SpaceGrotesk-VariableFont_wght.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: "parrafo", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: "titulo", sans-serif;
    color: #00FF00; 
    background-color: #134611;
    font-size: 60px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid white;
}

marquee {
    font-family: monospace;
    color: #ffca28; 
    font-weight: bold;
    margin-bottom: 20px;
}

code {
    display: inline-block;
    background-color: #222;
    padding: 5px;
    margin: 5px 0;
    color: #00FF00;
}

main, section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #134611;
    background-color: #0a0a0a;
}

h2, h3 {
    color: #00FF00;
    text-transform: uppercase;
}

.boton-wsp {
    display: inline-block;
    background-color: #25d366;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.boton-wsp:hover {
    background-color: white;
}

hr {
    border: 0;
    border-top: 1px double #134611;
    margin: 40px 0;
}


@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
    body {
        padding: 10px;
    }
}@font-face {
    font-family: 'titulo'; 
    src: url('fuentes/Orbitron-VariableFont_wght.woff2') format("woff2"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'parrafo'; 
    src: url('fuentes/SpaceGrotesk-VariableFont_wght.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: "parrafo", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: "titulo", sans-serif;
    color: #00FF00; 
    background-color: #134611;
    font-size: 60px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid white;
}

marquee {
    font-family: monospace;
    color: #ffca28; 
    font-weight: bold;
    margin-bottom: 20px;
}

code {
    display: inline-block;
    background-color: #222;
    padding: 5px;
    margin: 5px 0;
    color: #00FF00;
}

main, section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #134611;
    background-color: #0a0a0a;
}

h2, h3 {
    color: #00FF00;
    text-transform: uppercase;
}

.boton-wsp {
    display: inline-block;
    background-color: #25d366;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.boton-wsp:hover {
    background-color: white;
}

hr {
    border: 0;
    border-top: 1px double #134611;
    margin: 40px 0;
}


@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
    body {
        padding: 10px;
    }
}