@font-face {
    font-family: 'fuentegotica'; 
    src: url('../fuentes/GermaniaOne-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'temallum'; 
    src: url('../fuentes/EagleLake-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #121212;
    color: #F5F5F5 ;
    font-family: fuentegotica;
    text-align: center;
    
}
main{
    
    text-align: left;
    
}
h1 {font-family: temallum;
    text-align: center;
    color: #91712C;
    font-size: 60px;
    margin-bottom: -5px;
    
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 5px ;
    text-shadow: #1953BC;
}

h3{
    text-align: center;
    color: #91712C;
    margin-top:  -20px ;
    
    border-bottom-color: #304367 ;
    margin-left: 20px;
    margin-right: 20px;
    
}

.reading-area {
    max-width: 700px;       
    margin: 0 auto;          
    padding: 2rem;           
    font-size: 1.1rem;       
    line-height: 1.8;        
}

nav{
    text-align: center;
    text-shadow: #1953BC;
    margin-bottom: 20px;
    
}

a{
    
    color: #b8870b;
    text-shadow: 0 0 10px  #02d5ff;
    font-size: 30px;
    margin: 10px;

}

a:hover{
    color: black;
    text-shadow:0 0 10px  #EFBF04;
    text-transform:  uppercase;
    
    
}


.logo-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
}

.logo{
    width: 300px;
    filter: drop-shadow(0 0 10px #b8860b80);
}


footer {
    margin-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}


@media (max-width: 600px) {

    img {max-width: 80%;}

}





.galeria {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.item {
    flex: 1 1 300px; 
}